.posts {
  max-width: 100%;
}

.posts h1 {
  border-bottom: 2px solid lightblue;
}

h1 {
  font-size: 40px;
  padding: 20px;
}

.postFormulario {
  background: lightblue;
}

.postFormulario h1 {
  border-bottom: 2px solid lightblue;
}

.postFormularioCaja {
  padding: 20px;
}

.postFormulario,
.posts {
  width: 100%;
  padding: 20px;
}

.postFormulario div {
  margin: 20px 0;
  width: 100%;
  display: block;
}

.postFormulario div input {
  width: 100%;
  border: 2px solid lightblue;
  margin-top: 20px;
  height: 70px;
  padding: 20px;
}

@media(min-width: 800px) {
  .posts {
    max-width: 1240px;
  }

  .postFormulario {
    max-width: 100%;
    padding: 20px;
  }
  .postFormulario .fechaCaja {
    max-width: 20%;
  }
}
